@{
    ViewBag.Title = "消费充值平台-管理首页";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
@Html.Partial("ManageJSPartial")

<style type="text/css">

</style>


@Html.Partial("ManageMenuPartial")
<!-- 表格 -->
<link rel="stylesheet" href="@Url.Content("~/Scripts/JQGrid/ui.jqgrid.css")" type="text/css" />
<script charset="utf-8" src="@Url.Content("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script charset="utf-8" src="@Url.Content("~/Scripts/JQGrid/grid.locale-cn.js")" type="text/javascript"></script>


<table style="width:100%" id="filterArea">
    <tr>
        <td style="text-align:left">
            错误讯息：@Session["msg"];

        </td>
    </tr>
</table>
 
<div id="run_msg"></div>
 


<script type="text/javascript">
    jQuery(document).ready(function () {

 
    });

     

</script>
