@{
    ViewBag.Title = "亲师联络调研（5月）";
    Layout = "~/Views/Shared/_ClientLayout2.cshtml";
}

<link href="@Url.Content("~/Scripts/bootstrap3.3.7/DateTime/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" media="screen" />
<script charset="utf-8" src="@Url.Content("~/Scripts/bootstrap3.3.7/DateTime/js/bootstrap-datetimepicker.js")" type="text/javascript"></script>
<script charset="utf-8" src="@Url.Content("~/Scripts/bootstrap3.3.7/DateTime/js/locales/bootstrap-datetimepicker.zh-CN.js")" type="text/javascript"></script>
<script charset="utf-8" src="@Url.Content("~/Scripts/bootstrap3.3.7/DateTime/js/locales/bootstrap-datetimepicker.fr.js")" type="text/javascript"></script>
<script charset="utf-8" src="@Url.Content("~/Scripts/app_js/jquery.form.js")" type="text/javascript"></script>

<!-- 表格 -->


<div class="container text-left" style="background:#ffffff;padding:0px;margin:0px">



    <!-- 登入/start -->
    <div style="padding-left:15px;padding-right:15px;">


        <form id="form1">
    
            <div class="row" style="height:700px">
                <div id="myAlert" class="alert alert-danger" style="background:#c306e0; height:600px;margin-top:10px;text-align:center;vertical-align:central">
                  
                        <div style="font-size:40px;font-family:900;color:white"><b>提交成功 谢谢配合</b></div>
                        <div style="font-size:32px;font-family:800;color:white">The End! Thank you!</div>
                </div>
            </div>
             


        </form>
    </div>
    <!-- 登入/end -->


</div>

<!--頁腳/開始-->
<footer class="mt-5 bg-dark footer-content" style="background:#ffffff">
    <p class="text-center text-white mb-0 mt-0"> </p>
</footer>
<!--頁腳/結束-->




<script type="text/javascript">
  
</script>

